.chat-container {
    display: flex;
    background-color: #fcfcf9;
    font-family: Arial, sans-serif;

    display: grid;
    grid-template-rows: 7% 70% 23%;
    grid-template-columns: 320px calc(100% - 320px);

    width: 100vw;
    height: 100vh;
    min-width: 540px;
    min-height: 500px;
    position: relative;
    box-sizing: border-box;

    font-size: 1rem;
    line-height: 1.5;
}

.chat-header {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.header-title {
    padding-left: 25px;
    font-size: 25px;
    color: black;
}