.chat-content-container {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 2;
    overflow-y: auto;

    padding-top: 6vh;
    padding-left: 40px;
    padding-bottom: calc(25vh + 5px);

    color: #1a4e59;
}

.chat-content-container::-webkit-scrollbar {
    width: 9px;
}
  
.chat-content-container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

.chat-content-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.chat-content-container::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}

.chat-content-user {
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
    width: 90%;

    border:none;

    display: flex;
    flex-direction: column;
    padding: 15px;

    font-size: 1.875em;
    font-family: Arial, sans-serif;
}

.chat-content-answer {
    position: relative;

    margin-left: 30px;
    margin-right: 10px;
    float: left;
    width: 80%;
    border: none;
    display: flex;
    flex-direction: row;

    padding-left: 15px;

    font-size: 1.125rem;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.chat-content-ai {
    position: relative;

    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    width: 90%;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 15px;

    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.chat-content-server-status {
    margin-right: 15px;
    margin-bottom: 10px;
    width: 50%;
    float: right;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    padding: 5px;
    font-family: Arial, sans-serif;
}

.chat-content-feedback-button {
    height: 30px;
    width:max-content;
    border: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .chat-content-feedback-button:hover {
    background-color: #4ba2ff;
    color: white;
  }
  
  .chat-content-feedback-button:active {
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
  }
  
  .chat-content-feedback-button:disabled {
    background-color: #b0c4de;
    border-color: #b0c4de;
    color: #808080;
    cursor: not-allowed;
  }
  


.chat-content-ai-horizontal-line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 55px;
    border-top: 1px solid #b8b8b8;
}

.chat-content-gap-horizontal-line {
    position: relative;

    margin-right: 10px;
    width: calc(100% - 20px);

    border-top: 1px solid #b8b8b8;
    display: flex;
}